chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-API==2.0
fuzzywuzzy==0.17.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
MarkupSafe==1.1.1
nameparser==1.0.6
nltk==3.4.5
numpy==1.18.2
pdfminer.six==20200104
pdfplumber==0.5.16
Pillow==7.0.0
pycryptodome==3.9.4
python-Levenshtein==0.12.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
sortedcontainers==2.1.0
tabulate==0.8.6
tinydb==3.15.2
unicodecsv==0.14.1
Wand==0.5.8
Werkzeug==1.0.1
